.about-company
  height: 100vh
  padding: 70px 0
  background: #6793BB
  box-sizing: border-box
  .container
    width: 1200px
    height: auto
    margin: 0 auto
    .content-about-company
      display: flex
      flex-direction: row
      padding-top: 30px
      .subscribe
        width: 700px
        .subtitle
          width: 500px
      .facts
        width: 500px
        display: grid
        grid-template-columns: repeat(2,auto)
        grid-template-rows: repeat(3,auto)
        &__item
          width: 200px
          &_num
            font-family: 'Montserrat', sans-serif
            font-style: normal
            font-weight: 300
            font-size: 64px
            line-height: 78px
            text-align: center
            color: #FFFFFF
            margin: 0 0 10px 0
          &_text
            font-family: 'Montserrat', sans-serif
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 26px
            color: #FFFFFF
            text-align: center
            margin: 0 0 24px 0