.collaboration
  background-color: #455773
  height: 100%
  padding: 10% 0
  box-sizing: border-box
  .container
    width: 1200px
    height: auto
    margin: 0 auto
  .drop-down
    margin-top: 64px
    .drop-down_next
      margin-top: -18px
    &_item
      &__title
        width: 100%
        border-top: 1px solid #ffffff50
        border-bottom: 1px solid #ffffff50
        box-sizing: content-box
        padding: 18px 0
        display: flex
        flex-direction: row
        justify-content: space-between
        cursor: pointer
        h4
          padding-left: 8px
        img
          width: 32px
          height: 32px
          margin: 0
          padding-right: 8px
      &__list
        margin: 18px 0
        .list_item
          display: flex
          flex-direction: row
          padding-bottom: 16px
          padding-left: 32px
          &__circle
            width: 50px
            height: 50px
            background: rgba(255, 255, 255, 0.1)
            border-radius: 100px

            display: flex
            justify-content: center
            align-items: center
            font-weight: 600
            font-size: 18px
            color: #FFFFFF
            align-content: center
          p
            width: 600px
            display: flex
            align-items: center
            padding-left: 24px




@media only screen and (max-width : 1024px)
  .collaboration .drop-down_item__title img
    width: 20px
    height: 20px
  .collaboration .drop-down_item__list .list_item__circle
    width: 45px
    height: 45px
    font-size: 17px

@media only screen and (max-width : 768px)
  .collaboration .container
    width: 600px!important
  .collaboration .drop-down_item__list .list_item p
    width: 450px

@media only screen and (max-width : 700px)
  .collaboration .drop-down_item__list .list_item p
    width: 400px

@media only screen and (max-width : 650px)
  .collaboration .container
    width: 500px!important
  .collaboration .drop-down_item__list .list_item p
    width: 350px
    padding-left: 20px

@media only screen and (max-width : 610px)
  .collaboration .drop-down_item__title img
      width: 18px
      height: 18px
  .collaboration .drop-down_item__list .list_item__circle
    width: 40px
    height: 40px
    font-size: 15px
  .collaboration .drop-down_item__list .list_item
    padding-left: 20px

@media only screen and (max-width : 550px)
  .collaboration .container
    width: 450px!important
  .collaboration .drop-down_item__list .list_item p
    width: 280px

@media only screen and (max-width : 500px)
  .collaboration .container
    width: 400px!important
  .collaboration .drop-down_item__list .list_item p
    width: 250px
    padding-left: 10px

@media only screen and (max-width : 450px)
  .collaboration .container
    width: 350px!important
  .collaboration .drop-down_item__list .list_item p
    width: 240px
  .collaboration .drop-down_item__list .list_item
    padding-left: 10px


@media only screen and (max-width : 400px)
  .collaboration .container
    width: 300px!important
  .collaboration .drop-down_item__list .list_item p
    width: 180px

@media only screen and (max-width : 330px)
  .collaboration .container
    width: 250px!important
  .collaboration .drop-down_item__list .list_item p
    width: 150px

@media only screen and (max-width : 300px)
  .collaboration .container
    width: 200px!important
  .collaboration .drop-down_item__list .list_item p
    width: 150px

