#news
  background-color: #455773
  height: 100vh
  padding-top: 8%
  box-sizing: border-box
  .container
    width: 1200px
    height: auto
    margin: 0 auto
    .news__title
      padding-bottom: 7%
  .news__items
    padding-left: 18.5%
    .news__items_item
      box-sizing: content-box
      display: inline-block
      width: 384px
      max-width: 384px
      height: 384px
      background: rgba(255, 255, 255, 0.1)
      padding: 10%
      h3
        padding-bottom: 7%
      h4
        padding-bottom: 7%
      p
        line-height: 28px
        color: transparent
        -webkit-background-clip: text
        background-image: linear-gradient(to bottom, #fff,rgba(255, 255, 255, 0))

.slick-dots li button:before
  color: white!important
  top: 20px!important



@media only screen and (max-width : 1440px)
  #news
    padding-top: 5%
    .container .news__title
      padding-bottom: 5%
    .news__items
      padding-left: 8%
      .news__items_item
        max-width: 300px




@media only screen and (max-width : 1024px)
  #news
    .container
      width: 800px
    .news__items
      padding-left: 11%
      .news__items_item
        max-width: 280px
        p
          height: 260px
  .slick-dots li button:before
    left: -43px!important



