@font-face
  font-family: "Montserrat"
  font-style: normal
  font-weight: 400
  src: local("Montserrat"),
  url("./media/fonts/static/Montserrat-Medium.ttf") format('ttf')
@font-face
  font-family: "Montserrat-Thin"
  font-style: normal
  font-weight: 100
  src: local("Montserrat"),
  url("./media/fonts/static/Montserrat-Thin.ttf") format('ttf')
*
  font-family: 'Montserrat', sans-serif
h4
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 28px
  color: #FFFFFF
  margin: 0
h3
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 22px
  letter-spacing: 3px
  text-transform: uppercase
  color: rgba(255, 255, 255, 0.5)
  margin: 0
h2
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 700
  font-size: 36px
  line-height: 44px
  text-transform: uppercase
  letter-spacing: 1px
  color: #FFFFFF
  margin: 0
.title
  width: 1200px
p
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 26px
  color: #FFFFFF
  margin: 0