@font-face
  font-family: "Montserrat"
  font-style: normal
  font-weight: 400
  src: local("Montserrat"),
  url("./media/fonts/static/Montserrat-Medium.ttf") format('ttf')
  font-display: swap

@mixin fonts($weight, $size, $color)
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: $weight
  font-size: $size
  color: $color
  margin: 0