@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust : 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x:hidden;
}
.no-scroll{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}
* {
    font-family: 'Montserrat', sans-serif;
}