.provider::after {
  background-image: url("../../media/img/sklad.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 804px auto;
  display: inline-block;
  width: 804px;
  height: 100%;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.provider {
  position: relative;
  background-color: #0144D3;
  height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}
.provider .container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.provider .container .line {
  position: absolute;
  width: 274.03px;
  height: 0;
  left: -95px;
  top: 327px;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
  z-index: 0;
}
.provider .container .title {
  padding-bottom: 50px;
}
.provider .container .requirements {
  position: relative;
  z-index: 10;
}
.provider .container .requirements__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 55px;
  cursor: default;
}
.provider .container .requirements__item_circle:hover {
  color: #3590D6;
  border: 2px solid #3590D6;
  transform: scale(1.15);
  transition: 0.3s;
  cursor: default;
}
.provider .container .requirements__item_circle {
  width: 80px;
  height: 80px;
  background: #0144D3;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  cursor: default;
}
.provider .container .requirements__item_text {
  width: 305px;
  padding-left: 2%;
  display: flex;
  align-items: center;
  cursor: default;
}

@media only screen and (max-width: 2560px) {
  .provider::after {
    width: 550px;
  }

  .provider {
    height: 90vh;
  }

  .provider::after {
    background-size: 1100px auto;
    width: 1100px;
    height: 100vh;
  }
}
@media only screen and (max-width: 1920px) {
  .provider::after {
    background-size: 804px auto;
    display: inline-block;
    width: 804px;
    height: 948px;
  }

  .provider {
    height: 100vh;
  }
}
@media only screen and (max-width: 820px) {
  .provider {
    height: 90vh;
  }
}
@media only screen and (max-width: 1024px) {
  .provider::after {
    width: 550px;
  }

  .provider .container {
    width: 800px;
  }
  .provider .container .line {
    width: 250px;
    left: -89px;
  }
  .provider .container .requirements__item_circle {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .provider::after {
    width: 50%;
  }

  .provider .container {
    width: 800px;
  }
  .provider .container .line {
    width: 230px;
    left: -84px;
    top: 280px;
  }
  .provider .container .requirements__item_circle {
    width: 60px;
    height: 60px;
    font-size: 26px;
  }
}
@media only screen and (max-width: 800px) {
  .provider::after {
    width: 50%;
  }

  .provider {
    height: 100%;
    padding: 18% 0;
  }
  .provider .container {
    width: 800px;
  }
  .provider .container .line {
    width: 230px;
    left: -84px;
    top: 280px;
  }
  .provider .container .requirements__item_circle {
    width: 60px;
    height: 60px;
    font-size: 26px;
  }
}

/*# sourceMappingURL=Provider.css.map */
