.provider
  background-color: #6793BB
  height: 100vh
  box-sizing: content-box
  .requirements
    display: flex
    flex-direction: row
    .stock
      box-sizing: content-box
      img
        height: 100vh